* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 500px;
    background: url("weather.png");
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    /* vertically */
    justify-content: center;
    /* horizontally */
    width: 500px;
    margin: 10px;
    font-size: 20px;
    color: blue;
}

#search {
    font-size: 15px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px grey;
    
}

.container{
    background-color:skyblue;
    height: 200px;
    padding: 20px;
    opacity: .8;
    border-radius: 20px;
}